{{define "head"}}
<title>Editing A Page</title>
<script type="text/javascript" src="/static/js/codemirror.js"></script>
<script type="text/javascript" src="/static/js/markdown.js"></script>
<script type="text/javascript" src="/static/js/main.js"></script>
<link rel="stylesheet" href="/static/css/codemirror.css" type="text/css" media="screen" />
{{end}}

{{define "controls"}}{{end}}

{{define "body"}}
<form action="/api/edit{{.URI}}" method="POST" class="editor">
  <textarea id="new_contents" name="new_contents" language="markdown">{{.Raw}}</textarea>
  <div class="editor-controls">
    <input class="submit" type="submit" value="Save" />
    <a href="{{.URI}}">Cancel</a>
  </div>
</form>
{{end}}
