<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head></head>
  <body>
    {{ range $crumb := .CrumbsOf }}
    <a href="{{$crumb.URI}}">{{ $crumb.Name }}
    {{ end }}
    <form method="POST" id="" action="/api/remove{{.URI}}">
      <input type="submit" name="submit" value="Remove" class="submit" />
    </form>
    <a href="/edit{{.URI}}">Edit</a>
    {{.Body}}
  </body>
</html>
